<footer>
    <img src="../../assets/img/shelter_logo_text.png" alt="Logo with text">
    <div class="info-container">
        <div>
            <p>
                <strong>Zavetišče za živali Maribor</strong> <br>
                Avtomobilska ulica 25, Maribor
            </p>
            <p>
                <strong>T:</strong> 02 480 16 60 <br>
                <strong>E:</strong> zavetisce.mb@snaga-mb.si
            </p>
            <p>Emergency number: 031-788-822</p>
        </div>
        <div>
            <p>Financial donations accepted at:</p>
            <p>
                Snaga d.o.o. <br>
                TRR: SI56 04515-0000-175787 <br>
                Purpose code: CHAR <br>
                Purpose: Donation to the shelter
            </p>
        </div>
    </div>
    <p>©Mitja Rupnik 2022 - Angular Animal Shelter Maribor</p>
</footer>
